@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
html {
    font-size: calc(10 * 100vw / 390);
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    color: #000000;
}

a {
    color: #ffffff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.container {
    overflow: hidden;
}

.container-body {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container-body {
        max-width: 120rem;
        margin: 0 auto;
    }
}

.accordion-content {
    display: none;
}

.button-blue-ghost {
    font-size: 5.33vw;
    font-weight: 700;
    color: #ffffff;
    background-color: #0271e0;
    border-radius: 8.53vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 81.33vw;
    margin: 0 auto;
    padding: 5.21vw 0 5.21vw 0;
}

@media (min-width: 768px) {
    .button-blue-ghost {
        font-size: 1.5rem;
        border-radius: 3rem;
        max-width: 22.5rem;
        margin: 0 auto;
        padding: 1.22rem 0 1.22rem 1.5rem;
    }
}

/* ヘッダー
------------------------------------------ */
.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 6.3rem;
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .header {
        height: 11.4rem;
        padding: 0 3rem;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem 0 1.6rem;
}

@media (min-width: 768px) {
    .header__container {
        max-width: 120rem;
        width: 100%;
        height: 100%;
        padding: 0 1.4rem 0.3rem 1.6rem;
    }
}

.header img {
    width: 100%;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 6.3rem;
}

@media (min-width: 768px) {
    .header__logo {
        width: 22.5%;
        height: 11.4rem;
    }
}

@media (max-width: 767.9px) {
    .header__hamburger-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 6.3rem;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .header__hamburger-button {
        display: none;
    }
}

@media (max-width: 767.9px) {
    .header__nav {
        position: fixed;
        top: 6.3rem;
        left: 0;
        width: calc(100% - 3.2rem);
        margin: 0 1.6rem auto;
        height: auto;
        padding: 3.4rem 0 0 0;
        background-color: #168352;
        border-radius: 2.5rem;
        transition: opacity .3s linear;
        opacity: 0;
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
}

@media (max-width: 767.9px) {
    .header__nav-active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

@media (max-width: 767.9px) {
    .header__nav-list {
        display: block;
        margin-bottom: 3.5rem;
    }
}

@media (min-width: 768px) {
    .header__nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        column-gap: 4rem;
    }
}


@media (max-width: 767.9px) {
    .header__nav-item {
        margin-bottom: 3rem;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .header__nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 767.9px) {
    .header__nav-item:first-child {
        padding-right: 0.6rem;
    }
}

@media (min-width: 768px) {
    .header__nav-item:first-child {
        display: none;
    }
}

@media (max-width: 767.9px) {
    .header__nav-item:nth-child(2) {
        padding-left: 0.2rem;
    }
}

.header__nav-item a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
}

@media (min-width: 768px) {
    .header__nav-item a {
        font-size: 1.6rem;
        color: #000000;
    }
}

@media (min-width: 768px) {
    .header__nav-item--green a {
        color: #168352;
    }
}

/* top
------------------------------------------ */
@media (min-width: 768px) {
    .top {
        padding: 0 3rem;
    }
}

.top__container {
    padding: 6.3rem 1.6rem 3rem 1.6rem;
}

@media (min-width: 768px) {
    .top__container {
        max-width: 120rem;
        padding: 11.4rem 0 2rem 0;
    }
}

.top__title-flex {
    margin: 1.2rem 0 2.6rem 0;
}

@media (min-width: 768px) {
    .top__title-flex {
        display: flex;
        margin: 4rem 0 6rem 0;
    }
}

.top-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.7rem;
}

@media (min-width: 768px) {
    .top-title {
        font-size: 4rem;
        width: 50%;
        padding-left: 5rem;
        margin-bottom: 0;
    }
}

.top__text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    line-break: anywhere;
}

@media (min-width: 768px) {
    .top__text {
        font-size: 1.5rem;
        width: 50%;
        line-height: 1.7;
        padding: 0.7rem 5rem 0 2rem;
    }
}

.top img {
    width: 100%;
}

.top__image {
    width: 99.5%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .top__image {
        width: 97%;
    }
}

/* about
------------------------------------------ */
.about__container {
    padding: 2.1rem 0 0 0;
}

@media (min-width: 768px) {
    .about__container {
        max-width: 110rem;
        padding: 3.9rem 1rem 6rem 1rem;
    }
}

.about__title {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .about__title {
        margin-bottom: 2.5rem;
    }
}

.section-sub-title {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #168352;
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .section-sub-title {
        font-size: 2rem;
        margin-bottom: 0.2rem;
    }
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 2.8rem;
    }
}

.about__item-flex {
    position: relative;
}

@media (min-width: 768px) {
    .about__item-flex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .about__item-flex-image {
        width: 50%;
        margin: 0 auto;
    }
}

.about img {
    width: 100%;
}

.about__item-image {
    width: 100%;
}

@media (min-width: 768px) {
    .about__item-image {
        width: 74%;
        margin: 0 auto;
        padding-left: 0.75rem;
    }
}

@media (min-width: 768px) {
    .about__item-flex-text {
        width: 50%;
    }
}

@media (max-width: 767.9px) {
    .about__item-text-body {
        position: absolute;
        top: 3rem;
        right: 0;
        left: 0;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 3rem;
        width: 35.8rem;
        padding: 1.7rem 2.2rem 1.8rem 2.5rem;
    }
}

@media (min-width: 768px) {
    .about__item-text-body {
        width: 80%;
        margin: 0 auto;
        padding: 0 2rem 0.3rem 0;
    }
}

@media (max-width: 767.9px) {
    .about__item-text {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.7;
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .about__item-text {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.75;
        margin-bottom: 2.6rem;
    }
}

@media (min-width: 768px) {
    .about__item-text span {
        display: block;
    }
}

.about__item-sub-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75;
}

@media (min-width: 768px) {
    .about__item-sub-text {
        font-size: 1.5rem;
        line-height: 1.75;
        letter-spacing: 0.005em;
    }
}

/* features
------------------------------------------ */
.features {
    background-color: #f3f9f6;
}

.features__container {
    padding: 4.8em 1.6rem 3.5rem 1.6rem;
}

@media (min-width: 768px) {
    .features__container {
        max-width: 120rem;
        padding: 5.9rem 1.6rem 5.5rem 1.6rem;
    }
}

.features__title {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .features__title {
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 768px) {
    .features__list {
        display: flex;
        column-gap: 3rem;
    }
}

.features__item {
    margin-bottom: 1.9rem;
    border-radius: 2.45rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
    .features__item {
        flex: 1;
        margin-bottom: 1rem;
    }
}

.features img {
    width: 100%;
    border-radius: 2.45rem 2.45rem 0 0;
}

@media (min-width: 768px) {
    .features img {
        width: 100%;
        border-radius: 2.45rem 2.45rem 0 0;
    }
}

.features__item-image {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .features__item-image {
        width: 100%;
        margin: 0 auto;
    }
}

.features__item-text {
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #ffffff;
    border-radius: 0 0 2.45rem 2.45rem;
    line-height: 1.75;
    padding: 1.1rem 1.5rem 1.5rem 1.5rem;
}

@media (min-width: 768px) {
    .features__item-text {
        font-size: 1.9rem;
        border-radius: 0 0 2.45rem 2.45rem;
        line-height: 1.7;
        padding: 1.4rem 1.5rem 1.5rem 2rem;
    }
}

/* products-service
------------------------------------------ */
.products-service__container {
    padding: 5.1em 1.6rem 3.5rem 1.6rem;
}

@media (min-width: 768px) {
    .products-service__container {
        max-width: 110rem;
        padding: 5.9rem 0 2rem 0;
    }
}

.products-service__title {
    margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .products-service__title {
        margin-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    .products-service__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 5.2rem;
    }
}

.products-service__item {
    background-color: #168352;
    border-radius: 2.45rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 2rem 2.4rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .products-service__item {
        width: calc((100% - 10.4rem) / 3);
        border-radius: 2.45rem;
        padding: 2rem 1.1rem 2.2rem 2.5rem;
        margin-bottom: 4rem;
    }
}

@media (min-width: 768px) {
    .products-service__item--main {
        width: calc((100% - 5.2rem) / 2);
        padding: 2rem 4rem 2.2rem 3rem;
    }
}

.products-service img {
    width: 100%;
    border-radius: 50%;
}

.products-service__item-image {
    width: 31%;
}

@media (min-width: 768px) {
    .products-service__item-image {
        width: 37%;
    }
}

@media (min-width: 768px) {
    .products-service__item-image--main {
        width: 30%;
    }
}

.products-service__item-text {
    font-size: 1.8rem;
    font-weight: 700;
    width: 69%;
    line-height: 1.8;
    padding: 0 2rem 0 1.6rem;
}

@media (min-width: 768px) {
    .products-service__item-text {
        font-size: 2rem;
        width: 63%;
        line-height: 1.8;
        padding: 0 2rem 0 2rem;
    }
}

@media (min-width: 768px) {
    .products-service__item-text--main {
        font-size: 2.4rem;
        width: 70%;
        padding: 0 6rem 0 2.6rem;
    }
}

@media (max-width: 767.9px) {
    .products-service__item-text span {
        display: inline-block;
    }
}

@media (max-width: 767.9px) {
    .products-service__item--change span:nth-child(2) {
        display: none;
    }
}

@media (min-width: 768px) {
    .products-service__item--change {
        transition: all .2s;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .products-service__item--change:hover {
        background-color: #dffaec;
    }
}

@media (min-width: 768px) {
    .products-service__item--change span:nth-child(2) {
        opacity: 0;
        display: none;
        color: #ffffff;
    }
}

@media (min-width: 768px) {
    .products-service__item--change:hover span:nth-child(1) {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .products-service__item--change:hover span:nth-child(2) {
        opacity: 1;
        display: block;
        color: #168352;
    }
}

/* case
------------------------------------------ */
.case {
    background-color: #f3f9f6;
}

.case__container {
    padding: 5rem 1.6rem 2.3rem 1.6rem;
}

@media (min-width: 768px) {
    .case__container {
        max-width: 120rem;
        padding: 6rem 1.6rem 4rem 1.6rem;
    }
}

.case__title {
    margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .case__title {
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 768px) {
    .case__list {
        display: flex;
        column-gap: 2.9rem;
    }
}

.case__item {
    margin-bottom: 2.7rem;
}

@media (min-width: 768px) {
    .case__item {
        flex: 1;
        margin-bottom: 2rem;
    }
}

.case img {
    width: 100%;
    border-radius: 2.45rem;
}

@media (min-width: 768px) {
    .case img {
        width: 100%;
        border-radius: 2.45rem;
    }
}

.case__item-image {
    width: 100%;
    margin-bottom: 0.8rem;
}

@media (min-width: 768px) {
    .case__item-image {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.case__item-text {
    font-size: 1.8rem;
    font-weight: 700;
    color: #09947b;
    line-height: 1.7;
    padding-left: 0.2rem;
}

@media (min-width: 768px) {
    .case__item-text {
        font-size: 1.9rem;
        line-height: 1.7;
        padding-left: 0.2rem;
    }
}

/* news
------------------------------------------ */
.news__container {
    padding: 5rem 1.5rem 6.2rem 1.5rem;
}

@media (min-width: 768px) {
    .news__container {
        max-width: 100rem;
        padding: 5.5rem 5rem 7rem 5rem;
    }
}

.news__title {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1.9rem;
}

@media (min-width: 768px) {
    .news__title {
        padding-bottom: 2.75rem;
    }
}

.news__list {
    margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
    .news__list {
        margin-bottom: 3.2rem;
    }
}

.news__item {
    border-bottom: 1px solid #dddddd;
    padding: 1.5rem 0.25rem 1.1rem 0;
}

@media (min-width: 768px) {
    .news__item {
        padding: 1.6rem 0 1.6rem 0;
    }
}

.news__item-date {
    font-size: 1.5rem;
    font-weight: 400;
    color: #222222;
    margin-right: 1.6rem;
}

@media (min-width: 768px) {
    .news__item-date {
        font-size: 1.4rem;
        margin-right: 1.5rem;
    }
}

.news__item-badge {
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #473221;
    border-radius: 0.3rem;
    display: inline-block;
    text-align: center;
    width: 13.4rem;
    padding: 0.5rem 0 0.35rem 0;
}

@media (min-width: 768px) {
    .news__item-badge {
        font-size: 1.3rem;
        width: 13.4rem;
        padding: 0.39rem 0 0.39rem 0.5rem;
        margin-right: 2.25rem;
    }
}

.news__item-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #09947b;
    line-height: 1.7;
    padding-left: 0.2rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .news__item-text {
        font-size: 1.5rem;
        line-height: 1.7;
        display: inline;
        padding-left: 0.1rem;
        margin-top: 1rem;
    }
}

.news__button {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #09947b;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    margin: 0 auto;
    padding: 1.95rem 0 1.95rem 0;
    box-shadow: 0 5px 0 #066655;
    transition: all .2s;
}

@media (min-width: 768px) {
    .news__button {
        font-size: 1.8rem;
        max-width: 30rem;
        padding: 1.95rem 0 1.95rem 0;
    }
}

.news__button:hover {
    box-shadow: 0 2px 0 #066655;
    transform: translate(0, 3px);

}

/* price-spec-top
------------------------------------------ */
@media (min-width: 768px) {
    .top-main {
        position: relative;
        padding: 0 3rem;
    }
}

.top-main-container {
    padding: 8.3rem 1.5rem 2rem 1.5rem;
}

@media (min-width: 768px) {
    .top-main-container {
        max-width: 121rem;
        padding: 15.5em 0 0 0;
    }
}

.top-main img {
    width: 100%;
}

.top-main-image {
    width: 100%;
    padding: 0 0.1rem;
    margin-bottom: 2.2rem;
}

@media (min-width: 768px) {
    .top-main-image {
        width: 100%;
        padding: 0 0.5rem;
        margin-bottom: 2rem;
    }
}

.top-main-title {
    font-size: 3rem;
    font-weight: 700;
    padding-left: 0.1rem;
    margin-bottom: 2.1rem;
}

@media (min-width: 768px) {
    .top-main-title {
        font-size: 3.6rem;
        position: absolute;
        bottom: 3.75rem;
        background-color: #ffffff;
        border-radius: 0 4rem 0 0;
        padding: 2.5rem 4rem 3.5rem 4.5rem;
        margin-bottom: 0;
    }
}

.top-main nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 768px) {
    .top-main nav {
        padding-right: 0.3rem;
    }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumb li:not(:last-of-type)::after {
    content: "";
    background: url(../image/arrow_right_icon.png);
    background-size: 0.5rem 1rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.2em 0 0.8rem;
}

.breadcrumb li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
}


/* gallery
------------------------------------------ */
.gallery__container {
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 3.85rem;
}

@media (min-width: 768px) {
    .gallery__container {
        max-width: 80rem;
        padding: 5.2rem 0 0.5rem 0;
        margin-bottom: 3rem;
    }
}

.price-section-title {
    font-size: 2.2rem;
    font-weight: 700;
    position: relative;
    border-bottom: 3px solid #dddddd;
    padding-bottom: 0.7rem;
    margin-bottom: 2.25rem;
}

@media (min-width: 768px) {
    .price-section-title {
        font-size: 2.8rem;
        border-bottom: 5px solid #dddddd;
        padding-bottom: 2rem;
        margin-bottom: 2.75rem;
    }
}

.price-section-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 5rem;
    height: inherit;
    border-bottom: 3px solid #168352;
}

@media (min-width: 768px) {
    .price-section-title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 10rem;
        height: inherit;
        border-bottom: 5px solid #168352;
    }
}

.gallery img {
    width: 100%;
}

@media (max-width: 767.9px) {
    .swiper-slide img {
        width: 35.8rem;
        height: 23.7rem;
        object-fit: cover;
        border-radius: 2rem;
    }
}

.swiper__slide-image {
    width: 100%;
}

@media (min-width: 768px) {
    .swiper__slide-image {
        width: 100%;
    }
}

.swiper-pagination-bullet {
    background-color: #168352;
}

pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 6px;
    left: 0;
    width: 100%;
}

@media (min-width: 768px) {

    pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 17px;
        left: 0;
        width: 100%;
    }
}

/* speticial
  ------------------------------------------ */
.speticial__container {
    padding: 1rem 1.5rem 0.7rem 1.5rem;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .speticial__container {
        max-width: 80rem;
        padding: 3rem 0 0.5rem 0;
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .speticial__list {
        display: flex;
        column-gap: 3rem;
    }
}

.speticial__item {
    margin-bottom: 3.45rem;
}

@media (min-width: 768px) {
    .speticial__item {
        margin-bottom: 0;
        flex: 1;
    }
}

.speticial img {
    width: 100%;
}

.speticial__item-image {
    width: 100%;
    padding: 0 0.1rem;
    margin-bottom: 0.7rem;
}

@media (min-width: 768px) {
    .speticial__item-image {
        width: 100%;
        padding: 0;
        margin-bottom: 1rem;
    }
}

.speticial__item-text {
    font-size: 1.8rem;
    font-weight: 700;
    line-break: anywhere;
    line-height: 1.75;
    padding-right: 0.5rem;
}

@media (min-width: 768px) {
    .speticial__item-text {
        font-size: 1.8rem;
        line-height: 1.75;
        padding-right: 0.5rem;
    }
}

/* price
  ------------------------------------------ */
.price__container {
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 3.5rem;
}

@media (min-width: 768px) {
    .price__container {
        max-width: 80rem;
        padding: 3rem 0 0.5rem 0;
        margin-bottom: 2.75rem;
    }
}

.price__text {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    color: #168352;
}

@media (min-width: 768px) {
    .price__text {
        font-size: 3.2rem;
        line-height: 1;
    }
}

.price__text--small {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Noto Sans JP", sans-serif;
}

@media (min-width: 768px) {
    .price__text--small {
        font-size: 1.6rem;
    }
}

/* spec
  ------------------------------------------ */
.spec__container {
    padding: 1rem 1.6rem 1rem 1.6rem;
    margin-bottom: 5.6rem;
}

@media (min-width: 768px) {
    .spec__container {
        max-width: 80rem;
        padding: 3rem 0 0.5rem 0;
        margin-bottom: 6.5rem;
    }
}

.spec__title {
    margin-bottom: 2.45rem;
}

@media (min-width: 768px) {
    .spec__title {
        margin-bottom: 3rem;
    }
}

.spec__sub-container {
    padding: 0;
}

@media (min-width: 768px) {
    .spec__sub-container {
        padding: 0 3rem;

    }
}

.spec__sub-title {
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    border-left: 2px solid #168352;
    line-height: 1;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin-bottom: 1.75rem;
}

@media (min-width: 768px) {
    .spec__sub-title {
        font-size: 2.4rem;
        border-left: 3px solid #168352;
        line-height: 1;
        padding: 0.75rem 0 0.8rem 1.5rem;
        margin: 0 0 2.4rem 0;
    }
}

.spec__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.spec__table-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: start;
    padding: 0.65rem 0 0.65rem 1.8rem;
}

@media (min-width: 768px) {
    .spec__table-title {
        font-size: 1.6rem;
        padding: 1.7rem 0 2.1rem 1.9rem;
    }
}

.spec__table-text {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0.65rem 0 0.65rem 1.8rem;
}

@media (min-width: 768px) {
    .spec__table-text {
        font-size: 1.6rem;
        padding: 1.7rem 0 2.1rem 2.3rem;
    }
}

.spec__table-title {
    width: 27%;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
}

.spec__table-text {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

@media (max-width: 767.9px) {

    .spec__table-title,
    .spec__table-text {
        display: block;
        width: 100%;
    }

    .spec__table-title--last,
    .spec__table-text--last {
        border-bottom: 1px solid #dddddd;
    }
}

/* contact
------------------------------------------ */
.contact__item {
    background-image: url(../image/price-spec/price-spec_contact_sp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 390 / 360;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .contact__item {
        background-image: url(../image/price-spec/price-spec_contact_pc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 1400 / 450;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact__item-text {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35.8rem;
    margin: 0 auto;
    padding: 2.4rem 0 2.4rem 0;
}

.contact__item-text:hover {
    color: #168352;
    border: 1px solid #ffffff;
    border-radius: 4rem;
    background-color: #ffffff;
}

/* faq
------------------------------------------ */
.faq__container {
    padding: 1.6rem 1.6rem 14.75rem 1.6rem;
}

@media (min-width: 768px) {
    .faq__container {
        max-width: 80rem;
        padding: 6rem 0 4.9rem 0;
    }
}

.faq__item {
    border: 1px solid #cccccc;
    border-radius: 1.5rem;
    padding-bottom: 1.8rem;
    margin-bottom: 2.2rem;
}

@media (min-width: 768px) {
    .faq__item {
        padding-bottom: 1.7rem;
        margin-bottom: 2.5rem;
    }
}

.faq__item-question {
    position: relative;
    padding: 2.3rem 6rem 0 6.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .faq__item-question {
        padding: 2.2rem 6rem 0 7.2rem;
    }
}

.faq__item-question::before {
    content: "Q.";
    font-size: 2.4rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #168352;
    position: absolute;
    top: 1.6rem;
    left: 2.2rem;
}

@media (min-width: 768px) {
    .faq__item-question::before {
        top: 1.2rem;
        left: 3.2rem;
    }
}

.faq__item-question::after {
    content: "";
    background: url(../image/faq/icon-plus.svg);
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2.6rem;
    right: 2.3rem;
}

@media (min-width: 768px) {
    .faq__item-question::after {
        top: 2.5rem;
        right: 3.2rem;
    }
}

.faq__item-question-active::after {
    content: "";
    background: url(../image/faq/icon-minus.svg);
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    display: inline-block;
}

.faq__item-label-unit {
    display: flex;
    column-gap: 0.75rem;
}

@media (min-width: 768px) {
    .faq__item-label-unit {
        display: flex;
        column-gap: 0.75rem;
        margin-bottom: 0.75rem;
    }
}

@media (min-width: 768px) {
    .faq__item-label-unit--number7 {
        margin-bottom: 0.1rem;
    }
}

.faq__item-label {
    font-size: 1.1rem;
    font-weight: 400;
    color: #168352;
    border: 1px solid #168352;
    border-radius: 0.35rem;
    width: 10rem;
    display: inline-block;
    text-align: center;
    padding: 0.275rem 0;
}

@media (min-width: 768px) {
    .faq__item-label {
        font-size: 1.1rem;
    }
}

.faq__item-question-text {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.75;
    line-break: anywhere;
}

@media (min-width: 768px) {
    .faq__item-question-text {
        font-size: 1.8rem;
    }
}

.faq__item-answer-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-break: anywhere;
    line-height: 1.75;
    letter-spacing: 0.01em;
    padding: 0.3rem 2rem 0 2.4rem;
}

@media (min-width: 768px) {
    .faq__item-answer-text {
        font-size: 1.6rem;
        line-height: 1.75;
        letter-spacing: 0.005em;
        padding: 1.8rem 3rem 0 3.1rem;
    }
}

@media (max-width: 767.9px) {
    .faq__item-answer-text--number5 {
        padding: 0.1rem 2rem 0 2.4rem;
    }
}

@media (max-width: 767.9px) {
    .faq__item-answer-text--number7 {
        padding: 0.3rem 2rem 0.1rem 2.4rem;
    }
}

@media (max-width: 767.9px) {
    .faq__item-answer-text--number8 {
        padding: 0.3rem 2rem 0.1rem 2.4rem;
    }
}

@media (max-width: 767.9px) {
    .faq__item-answer-text--number9 {
        padding: 0.2rem 2rem 0 2.4rem;
    }
}

@media (max-width: 767.9px) {
    .faq__item-answer-text--number11 {
        padding: 1rem 2rem 0 2.4rem;
    }
}

@media (min-width: 768px) {
    .faq__item-answer-text--number1 {
        padding: 1.8rem 2rem 0 3.1rem;
    }
}

@media (min-width: 768px) {
    .faq__item-answer-text--number4 {
        padding: 1.8rem 2rem 0 3.1rem;
    }
}

@media (min-width: 768px) {
    .faq__item-answer-text--number6 {
        padding: 1.8rem 2rem 0 3.1rem;
    }
}

@media (min-width: 768px) {
    .faq__item-answer-text--number8 {
        padding: 1.7rem 3rem 0.1rem 3.1rem;
    }
}

@media (min-width: 768px) {
    .faq__item-answer-text--number9 {
        padding: 1.7rem 2rem 0.1rem 3.1rem;
    }
}

@media (min-width: 768px) {
    .faq__item-answer-text--number10 {
        padding: 1.7rem 2rem 0 3.1rem;
    }
}

/* footer
------------------------------------------ */
.footer {
    background-color: #168352;
}

.footer__container {
    padding: 2.3rem 0 2.5rem 0;
}

@media (min-width: 768px) {
    .footer__container {
        max-width: 120rem;
        padding: 3.6rem 0 3.75rem 0.1rem;
    }
}

.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;
    padding: 0.025rem 1.7rem 0.025rem 1.7rem;
}

@media (min-width: 768px) {
    .footer__nav-link {
        font-size: 1.5rem;
        padding: 0 2rem 0 2rem;
    }
}

@media (min-width: 768px) {
    .footer__nav-link--small {
        font-size: 1.4rem;
    }
}

.footer ul li:first-child {
    border-right: 1px solid #ffffff;
}